@import url(//db.onlinewebfonts.com/c/c8e8fcd5d85d9b587022fe0a79809b73?family=Friz+Quadrata);

body{
    margin: auto;
    max-width: 600px;
    background: lightblue;
    font-family: sans-serif;
    overflow: auto;
}

header{
    text-align: center;
}

#info{
    width: 33.5rem;
    height: 3rem;
    display: inline-block;
    background: lightsalmon;
    text-align: center;
    
}

#action{
    float: right;
}

ul{
    list-style-type: none;
    padding: 0px;
}

.player{
    margin: 10px 0px 10px 0px;
    padding: 0px;
    box-shadow: 2px 2px 4px rgba(48, 47, 47, 0.6);
    transition: 1s;
}

#info:hover{
    background: salmon;
}

.btn{
    height: 3rem;
    width: 4rem;
    margin: 0px;
    padding: 0px;
    border: none;
}

.nav-btn{
    height: 3rem;
    width: 4rem;
    margin: 0px;
    padding: 0px;
    border: none;
}

.btn:hover{
    cursor: pointer;
    background: lightgray;

}

.nav-btn:hover{
    cursor: pointer;
    background: lightgray;

}

#logo{
    color: salmon;
}

body h1{
    text-align: center;
}

.moreinfo img{
    margin-top: 16px;
    width: 1rem;
    display: inline-block;
}

.moreinfo p{
    display: block;
    margin: 0px;
    text-align: left;
}

.moreinfo{
    position: absolute;
    background: rgba(48, 47, 47, 0.8);
    font-family: 'Friz Quadrata', cursive;
    color: #E7FFFF;
    border-radius: 5px;
    padding: 10px;
    border: 2px solid white;
}

.moreinfo span{
    padding: 0px;
}

.mi-green{
    color: #15C617;
}

.mi-white{
    color: #E7FFFF;
}

.mi-gold{
    color: #CDBB01;
}

.moreinfo h1{
    margin: 0px;
    text-align: left;
    font-size: 20px;
}

nav {
    background: lightgrey;
}

nav button{
    display: block;
}

@media (max-width: 600px) 
{
  #info{
      width: 80vw;
      display: inline-block;
  }

  .btn{
      width: 20vw;
  }

  .nav-btn{
      width: 100vw;
  }
}

#loading{
        height: 250px;
        left: 50%;
        margin-top: -125px;
        margin-left: -125px;
        position: absolute;
        top: 50%;
        width: 250px;
        text-align: center;
}